.akah-container {
    width: 100%;
    background-color: white;
    display: flex; /* Make the container a flexbox */
    border-bottom: 1px solid;
    border-color: #bdbdbd;
    padding: 0.5rem;
    justify-content: center;
  }
  
  .akah-image {
    width: 80px; /* Let the image width adjust to its content */
    object-fit: cover;
  }
  
  .akah-content {
    padding-left: 1rem; /* Add some padding for better readability */
    padding-right: 1rem; /* Add some padding for better readability */
    justify-content: start;
  }
  
  .akah-title {
    font-size: 1.3em;
    font-weight: 500; /* Make the title bold */
    margin-bottom: 0.5rem; /* Add some space between title and text */
  }